<html>
  <form [formGroup]="addTaskForm">
    <table>
     <tr>
       <td>
        <div class="error-message">
            {{message}}
          </div>
        </td>  
     </tr>
      <tr>        
        <td>
          Project:
        </td>
        <td>
            <select formControlName="projectId" id="projectId" [ngClass]="{ 'is-invalid': submitted && addFormControls.projectId.errors }">
                <option *ngFor="let project of projects" [value]="project.projectId">{{project.project}}</option>
            </select>  
            <div *ngIf="submitted && addFormControls.projectId.errors" class="error-message">
                <div *ngIf="addFormControls.projectId.errors.required">Project is required</div>
            </div>         
        </td>       
      </tr>
      <tr>
        <td>
          Task:
        </td>
        <td>
          <div class="form-group">
          <input type="text" name="task" id="task" class="form-control" formControlName="task" [ngClass]="{ 'is-invalid': submitted && addFormControls.task.errors }"/>
          <div *ngIf="submitted && addFormControls.task.errors" class="error-message">
            <div *ngIf="addFormControls.task.errors.required">Task Description is required</div>
        </div>
        </div>
        </td>
      </tr>
      <tr>
        <td>
            <input type="checkbox" name="parentTaskCheck" formControlName="parentTaskCheck" (change)="enableParentTask()"/> &nbsp;Parent Task
        </td>  
      </tr>
      <tr>
        <td>
          Priority:
        </td>
        <td>
          <input type="range" min="1" max="30" name="priority" id="priority" class="form-control" formControlName="priority"/>
         
        </td>
      </tr>
      <tr>
        <td>
          Parent Task:
        </td>
        <td *ngIf="isParenTaskEnabled">
          <input type="text" name="parentTask" id="parentTask" class="form-control" formControlName="parentTask" />
        </td>
        <td *ngIf="!isParenTaskEnabled">
        <select formControlName="parentId" id="parentId">
          <option *ngFor="let parent of parents" [value]="parent.parentId">{{parent.parentTask}}</option>
        </select>
        </td>
      </tr>
      <tr>
        <td>
          Start Date:
        </td>
        <td>
          <input type="date" name="startDate" id="startDate" class="form-control" formControlName="startDate" [ngClass]="{ 'is-invalid': submitted && addFormControls.startDate.errors }"/>
          <div *ngIf="submitted && addFormControls.startDate.errors" class="error-message">
            <div *ngIf="addFormControls.startDate.errors.required">Start Date is required</div>
        </div>
        </td>
        <td>
            End Date:
        </td>
        <td>
            <input type="date" name="endDate" id="endDate" class="form-control" formControlName="endDate" />
        </td>
      </tr>
      <tr>
        <td>
          User:
        </td>
        <td>
          <select formControlName="user" id="user">
                <option *ngFor="let user of users" [value]="user.userId">{{user.firstName}}, {{user.lastName}}</option>
            </select>
        </td>
      </tr>
      <tr>
          <td>
              <input type="submit" (click)="onAdd()" [value]="isEdit?'Update':'Add Task'">
          </td>
          <td>
            <button type="submit" (click)="onReset()">Reset</button>
          </td>
        </tr>
    </table>
  </form>
  </html>